body{
  margin:60px;
}
.container{
  background-color:#eeeeee;
  border-radius:5px;
}
.img-container{
  margin:3%;
  padding:5px;
  background-color:white;
  border-radius:5px;
  border:1px #dddddd solid;
}
img{width:100%;}
.center{
  margin-left:20%;
  margin-right:20%;
}